@{
    ViewBag.Title = "Informacje";
}<h1>Informacje</h1>
<hr />
<div class="info-container">
    <div class="wide-info-card">
        <h2>Polityka prywatności</h2>
        <p>
            Administratorem Państwa danych osobowych jest Xenial Programmer sp. z o.o.
        </p>
        <p>
            Przetwarzamy dane osobowe w celu obsługi publikacji i wyświetlania ogłoszeń.
        </p>
        <p>
            Używamy plików cookies do utrzymania sesji i zapamiętywania preferencji użytkownika.
        </p>
        <p>
            Mają Państwo prawo do <a href="/Identity/Account/Manage/PersonalData" style="color: #ff9">dostępu, usunięcia</a> i <a href="/Identity/Account/Manage" style="color: #ff9">sprostowania</a> swoich danych oraz wniesienia sprzeciwu wobec ich przetwarzania.
        </p>
        <p>
            Dane przechowujemy przez okres niezbędny do realizacji określonych celów, nie dłużej niż przewidują to przepisy prawa.
        </p>
        <p>
            Zastrzegamy prawo do wprowadzania zmian w polityce prywatności. O wszelkich zmianach będziemy informować na tej stronie.
        </p>
        <p>
            Kontakt w sprawach dotyczących danych osobowych: <a href="mailto:daneosobowe@email.pl" style="color: #ff9" ;>daneosobowe@email.pl</a>.
        </p>
        <p>Data aktualizacji: 29.06.2025
    </div>

    <div class="narrow-info-card">
        <h2>Działanie strony</h2>
        <p>
            Po kliknięciu w przycisk "Zarządzaj ogłoszeniami" zostaje wyświetlona tylko lista ogłoszeń aktualnie zalogowanego użytkownika z przyciskami do edycji i usuwania.
        </p>
        <p>
            Po kliknięciu w przycisk "Przeglądaj ogłoszenia" zostaje wyświetlona tylko lista ogłoszeń nienależących do aktualnie zalogowanego użytkownika.
        </p>
        <p>
            Na liście ogłoszeń widoczne jest tylko 1 zdjęcie, które zostało dodane najwcześniej, a resztę zdjęć można zobaczyć klikając w przycisk "szczegóły".
        </p>
        <p>
            Kategorie dotyczą tego, co oferuje oferent, czyli np. jeśli przeglądając oferty chcą Państwo dokonać zakupu, prosimy o wybranie kategorii "Sprzedam", a nie "Kupię".
        </p>
    </div>
</div>